@import "tailwindcss";

@theme inline {
  /* Custom colors */
  --color-link: #0000EE;
  --color-lightest-blue: #3b82f6;
  --color-light-blue: #1a3e74;
  --color-moderate-blue: #12284a;
  --color-dark-blue: #0d203b;
  --color-darkest-blue: #0a182b;
  --color-darkest-blue-2x: #07111f;
  --color-darkest-blue-3x: #050b14;

  /* Theme setup */
  --color-background: var(--background);
}

:root {
  --background: #ffffff;
}

[data-theme="light"] {
  --background: #ffffff;
}

[data-theme="dark"] {
  --background: var(--color-neutral-900);
}

@layer base {
  body {
    color: #f5f5f5; /* neutral-100 */
    background: var(--color-darkest-blue);
    font-family: Arial, Helvetica, sans-serif;
  }

  input {
    color: #f5f5f5;
    background: var(--color-light-blue);
    font-family: Arial, Helvetica, sans-serif;
  }

  td, th {
    text-wrap: wrap;
    word-break: break-all;
    padding: 1rem;
  }

  main {
    background-color: var(--color-dark-blue);
    padding: 2.5rem;
  }

  .header {
    background-color: var(--color-darkest-blue);
  }

  table {
    background-color: var(--color-light-blue);
    margin-left: auto;
    margin-right: auto;
  }

  button {
    text-wrap: nowrap;
  }

  a:hover {
    color: #a3a3a3; /* neutral-400 */
  }

  a:active { 
    color: #525252; /* neutral-600 */
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-decoration: underline;
    padding-bottom: 2.5rem;
  }

  p a, li a, .linkStyle, .linkStyle a {
    color: #fbbf24; /* amber-400 */
    text-decoration: underline;
  }

  p a:hover, li a:hover, .linkStyle:hover, .linkStyle a:hover {
    color: #f59e0b; /* amber-500 */
  }

  p a:active, li a:active, .linkStyle:active, .linkStyle a:active { 
    color: #d97706; /* amber-600 */
  }

  .disabledLinkStyle, .disabledLinkStyle a {
    color: #9ca3af; /* gray-400 */
    text-decoration: underline;
  }

  .disabledLinkStyle:hover, .disabledLinkStyle a:hover {
    color: #71717a;
  }

  .disabledLinkStyle:active, .disabledLinkStyle a:active {
    color: #52525b;
  }

  select {
    background-color: var(--color-light-blue);
  }

  li {
    list-style-type: square;
    list-style-position: inside;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    text-decoration: underline;
    padding-bottom: 1.5rem;
  }

}

