@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme inline {
  /* Custom colors */
  --color-lightest-blue: #3b82f6;
  --color-light-blue: #1a3e74;
  --color-moderate-blue: #12284a;
  --color-dark-blue: #0d203b;
  --color-darkest-blue: #0a182b;
  --color-darkest-blue-2x: #07111f;
  --color-darkest-blue-3x: #050b14;

  /* Theme setup */
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);

  --color-text: var(--text);
  --color-text-title: var(--text-title);

  --color-logo: var(--logo);
  --color-logo-hover: var(--logo-hover);
  --color-logo-active: var(--logo-active);

  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-link-active: var(--link-active);
}

:root {
  --background: var(--color-neutral-100);
  --background-alt: #dddcdc;

  --text-title: black;
  --text: var(--color-neutral-700);

  --logo: var(--color-blue-600);
  --logo-hover: var(--color-blue-700);
  --logo-active: var(--color-blue-800);

  --link: var(--color-logo);
  --link-hover: var(--color-logo-hover);
  --link-active: var(--color-logo-active);

  --swiper-navigation-color: var(--color-link);
  --swiper-pagination-color: var(--color-link);
}

[data-theme="dark"] {
  --background: var(--color-neutral-900);
  --background-alt: var(--color-neutral-800);

  --logo: var(--color-blue-400);
  --logo-hover: var(--color-blue-500);
  --logo-active: var(--color-blue-600);


  --text-title: white;
  --text: var(--color-neutral-300);
}

[data-theme="luke_shephard"] {
  --background: #0a182b;
  --background-alt:#0d203b;

  --text-title: white;
  --text: white;

  --logo: white;
  --logo-hover: var(--color-neutral-400);
  --logo-active: var(--color-neutral-600);

  --link: var(--color-amber-400);
  --link-hover: var(--color-amber-500);
  --link-active: var(--color-amber-600);
}

[data-theme="EXPERIMENTAL_SEASONAL"] {
  --background: var(--color-neutral-950);
  --background-alt: var(--color-neutral-900);

  --text-title: var(--color-orange-500);
  --text: var(--color-neutral-400);

  --logo:  var(--color-purple-500);
  --logo-hover: var(--color-purple-600);
  --logo-active: var(--color-purple-700);
}


@layer base {
  body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  td, th {
    text-wrap: wrap;
    word-break: break-all;
    padding: 1rem;
  }

  main {
    background-color: var(--background);
  }

  button {
    text-wrap: nowrap;
  }

  a:hover {
    color: #a3a3a3; /* neutral-400 */
  }

  a:active { 
    color: #525252; /* neutral-600 */
  }

  p a, li a, .linkStyle, .linkStyle a {
    color: var(--link);
    text-decoration: underline;
  }

  p a:hover, li a:hover, .linkStyle:hover, .linkStyle a:hover {
    color: var(--link-hover);
  }

  p a:active, li a:active, .linkStyle:active, .linkStyle a:active { 
    color: var(--link-active);
  }
/* 
  .disabledLinkStyle, .disabledLinkStyle a {
    color: #9ca3af; /* gray-400 */
    /* text-decoration: underline;
  }

  .disabledLinkStyle:hover, .disabledLinkStyle a:hover {
    color: #71717a;
  }

  .disabledLinkStyle:active, .disabledLinkStyle a:active {
    color: #52525b;
  } */

  select {
    background-color: var(--foreground);
  }

  li {
    list-style-type: square;
    list-style-position: inside;
  }

  h1, h2, h3, h4, h5 {
    color: var(--text-title)
  }

}

