@import "tailwindcss";

@theme inline {
  /* Custom colors */
  --color-lightest-blue: #3b82f6;
  --color-light-blue: #1a3e74;
  --color-moderate-blue: #12284a;
  --color-dark-blue: #0d203b;
  --color-darkest-blue: #0a182b;
  --color-darkest-blue-2x: #07111f;
  --color-darkest-blue-3x: #050b14;

  /* Theme setup */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text: var(--text);
  --color-text-title: var(--text-title);

  --color-logo: var(--logo);
  --color-logo-hover: var(--logo-hover);
  --color-logo-active: var(--logo-active);

  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-link-active: var(--link-active);
}

:root {
  --background: var(--color-neutral-100);
  --foreground: var(--color-neutral-300);

  --text-title: black;
  --text: var(--color-neutral-700);

  --logo: var(--color-blue-400);
  --logo-hover: var(--color-blue-500);
  --logo-active: var(--color-blue-600);

  --link: var(--color-logo);
  --link-hover: var(--color-logo-hover);
  --link-active: var(--color-logo-active);
}

[data-theme="dark"] {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-800);

  --text-title: white;
  --text: var(--color-neutral-300);
}

@layer base {
  body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  td, th {
    text-wrap: wrap;
    word-break: break-all;
    padding: 1rem;
  }

  main {
    background-color: var(--background);
    padding: 2.5rem;
  }

  button {
    text-wrap: nowrap;
  }

  a:hover {
    color: #a3a3a3; /* neutral-400 */
  }

  a:active { 
    color: #525252; /* neutral-600 */
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-decoration: underline;
    padding-bottom: 2.5rem;
  }

  p a, li a, .linkStyle, .linkStyle a {
    color: var(--link);
    text-decoration: underline;
  }

  p a:hover, li a:hover, .linkStyle:hover, .linkStyle a:hover {
    color: var(--link-hover);
  }

  p a:active, li a:active, .linkStyle:active, .linkStyle a:active { 
    color: var(--link-active);
  }
/* 
  .disabledLinkStyle, .disabledLinkStyle a {
    color: #9ca3af; /* gray-400 */
    /* text-decoration: underline;
  }

  .disabledLinkStyle:hover, .disabledLinkStyle a:hover {
    color: #71717a;
  }

  .disabledLinkStyle:active, .disabledLinkStyle a:active {
    color: #52525b;
  } */

  select {
    background-color: var(--foreground);
  }

  li {
    list-style-type: square;
    list-style-position: inside;
  }

  h1, h2, h3, h4, h5 {
    color: var(--text-title)
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    text-decoration: underline;
    padding-bottom: 1.5rem;
  }

}

