/* website-template v1.3 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #f5f5f5; /* neutral-100 */
  background: theme('colors.darkest-blue');
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: #f5f5f5;
  background: theme('colors.light-blue');
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  text-wrap: wrap;
  word-break: break-all;
  padding: 1rem;
}

main {
  background-color: theme('colors.dark-blue');
  padding: 2.5rem;
}

.header {
  background-color: theme('colors.darkest-blue');
}

table {
  background-color: theme('colors.light-blue');
  margin-left: auto;
  margin-right: auto;
}

button {
  text-wrap: nowrap;
}

a:hover {
  color: #a3a3a3; /* neutral-400 */
}

a:active { 
  color: #525252; /* neutral-600 */
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-decoration: underline;
  padding-bottom: 2.5rem;
}

p a, li a, .linkStyle, .linkStyle a {
  color: #fbbf24; /* amber-400 */
  text-decoration: underline;
}

p a:hover, li a:hover, .linkStyle:hover, .linkStyle a:hover {
  color: #f59e0b; /* amber-500 */
}

p a:active, li a:active, .linkStyle:active, .linkStyle a:active { 
  color: #d97706; /* amber-600 */
}

.disabledLinkStyle, .disabledLinkStyle a {
  color: #9ca3af; /* gray-400 */
  text-decoration: underline;
}

.disabledLinkStyle:hover, .disabledLinkStyle a:hover {
  color: #71717a;
}

.disabledLinkStyle:active, .disabledLinkStyle a:active {
  color: #52525b;
}

/* ADDED FOR PERSONAL-WEBSITE */

li {
  list-style-type: square;
  list-style-position: inside;
}

select {
  background-color: theme('colors.light-blue');
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  text-decoration: underline;
  padding-bottom: 1.5rem;
}
